body {
	background: #7777;
	content: #ebebeb;
	margin-top: 0px;
	margin-right: 40 px;
	margin-left: 40 px;
	margin-bottom: 100px;
}
header {

	font-family: 'Arial','Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;

}
	